from ood.ood_methods.feature_based_methods import get_all_scores_from_features
from ood.utils import skip_predict


predict_to_dir = skip_predict

evaluate_individual_metrics = partial(
    get_all_scores_from_features,
    predict_fn=lambda x: predict_with_features(x)[1],
    load_x=load_x,
    test_ids=test_ids,
    train_predictions_path=train_predictions_path,
)

return_features_from = (3, )

train_predictions_path = os.path.join(pretrained_model_path, f'embeddings_{return_features_from[0]}/experiment_0')
