from ood.ood_methods.feature_statistics import get_mean_std
from ood.ood_methods.svd import get_ood_scores_from_spectrum


predict_features_svd = lambda x: get_mean_std(predict_with_features(x))
predict_to_dir = partial(commands.predict, ids=test_ids, load_x=load_x, predict_fn=predict_features_svd)

evaluate_individual_metrics = partial(
    get_ood_scores_from_spectrum,
    test_ids=test_ids, 
    train_predictions_path=train_predictions_path,                   
    spectrum_folder=test_predictions_path
)

train_predictions_path = os.path.join(pretrained_model_path, f'feature_mean_std_19/experiment_0')