from ood.ood_methods.feature_based_methods import get_all_scores_from_features
from ood.utils import skip_predict


predict_to_dir = skip_predict
test_ids_embeddings=dataset.ids

evaluate_individual_metrics = partial(
    get_all_scores_from_features,
    predict_fn=lambda x: predict_with_features(x),
    load_x=load_x,
    test_ids=test_ids,
    test_ids_embeddings=test_ids_embeddings,
    train_predictions_path=train_predictions_path,
)

train_predictions_path = os.path.join(pretrained_model_path, f'embeddings_{layer_num}/experiment_0')

device = 'cpu'
