from ood.utils import skip_predict, skip_calculating_metrics
from ood.torch.model import inference_step_ood_lidc_last
from dpipe.predict import add_extract_dims, divisible_shape
from dpipe.predict.shape import patches_grid


@add_extract_dims(2, 1)
@patches_grid(z_patch_size, z_patch_size, axis=-1)
@divisible_shape(divisor=z_patch_size, padding_values=np.min, axis=-1)
def predict_with_features(image):
    return inference_step_ood_lidc_last(image, architecture=architecture, activation=torch.sigmoid, amp=amp)


predict_to_dir = partial(commands.predict, ids=test_ids, load_x=load_x, predict_fn=predict_with_features)
predict_logits_to_dir = skip_predict
evaluate_individual_metrics = skip_calculating_metrics
saved_model_path = os.path.join(pretrained_model_path, f'seed{seed}/experiment_0/model.pth')


def predict_probs_and_features(x):
    features = predict_with_features(x)
    probs = torch.sigmoid(architecture.head(torch.Tensor(features[None, ...]))).detach().numpy()[0, 0]
    return probs, features
