from ood.utils import skip_predict
from ood.ood_methods.godin import evaluate_individual_metrics_godin


noise_magnitude = 0.02
predict = lambda x: predict_godin(x, noise_magnitude=noise_magnitude)
predict_to_dir = skip_predict
predict_logits_to_dir = skip_predict
evaluate_individual_metrics = partial(
    evaluate_individual_metrics_godin,
    load_y=load_y,
    load_x=load_x,
    predict=predict,
    metrics=final_metrics,
    test_ids=test_ids,
)
saved_model_path = os.path.join(pretrained_model_path, f'godin/experiment_0/model.pth')