from functools import partial
import os
import time

import numpy as np

from dpipe.layout import Flat
from dpipe.config import if_missing, lock_dir, run
from dpipe.io import load, save_json
from ood.ood_methods.image_statistics import get_all_scores_from_image
from ood.utils import skip_predict


predict_to_dir = skip_predict

layout = Flat(split)
train_ids = layout.get_ids('train')
test_ids = layout.get_ids('test')

evaluate_individual_metrics = partial(
    get_all_scores_from_image,
    load_x=dataset.image,
    test_ids=test_ids,
    test_ids_embeddings=dataset.ids[62:],
    train_predictions_path=train_predictions_path,
)

train_predictions_path = os.path.join(pretrained_model_path, 'image_statistics/experiment_0')

run_experiment = run(
    lock_dir(),
    save_json(time.time(), 'time.json'),
    if_missing(evaluate_individual_metrics, results_path='test_metrics'),
    save_json((time.time() - load('time.json')) / len(test_ids), 'time.json'),
)
