
mood_top1_top100mean = lambda true, pred: np.mean(pred.ravel()[np.argsort(pred, axis=None)[-100:]])
mood_top1_mean = lambda true, pred: np.mean(pred)
mood_top1_max = lambda true, pred: np.max(pred)


final_metrics_lidc = {'mood_top1_top100mean': mood_top1_top100mean,
                      'mood_top1_mean': mood_top1_mean,
                      'mood_top1_max': mood_top1_max, }

final_metrics_cc359_midrc = {'mood_top1_top100mean': mood_top1_top100mean,
                             'mood_top1_mean': mood_top1_mean,
                             'mood_top1_max': mood_top1_max, }

max_anomaly_size = 64