from ood.ood_methods.pnml_regret import get_pnml_regrets


projection_matrix_folder = 'train_embeddings'
predict_to_dir = skip_predict
return_features_from = (19,)
predict_with_features_fn = predict_with_features

evaluate_individual_metrics = partial(
    get_pnml_regrets,
    load_x=load_x,
    test_ids=test_ids,
    projection_matrix_path=os.path.join(pretrained_model_path, projection_matrix_folder),
    predict_with_features_fn=predict_with_features_fn,
)
