from ood.ood_methods.svd import get_spectrum, get_ood_scores_from_spectrum


train_predictions_path = '.'
svd_predictions_path = 'svd_spectrum'
metrics_path = 'test_metrics'

test_ids = dataset.ids

predict_features_svd = lambda x: get_spectrum(predict_features(x)[0])
predict_to_dir = partial(commands.predict, ids=test_ids, load_x=load_x, predict_fn=predict_features_svd)

run_experiment = run(
    fix_seed(seed=seed),
    lock_dir(),
    architecture.to(device),
    if_missing(lambda p: [train_model, save_model_state(architecture, p)], saved_model_path),
    load_model_state(architecture, saved_model_path),
    if_missing(predict_logits_to_dir, output_path=logit_predictions_path),
    if_missing(predict_to_dir, output_path=svd_predictions_path),
    get_ood_scores_from_spectrum(test_ids=test_ids, train_predictions_path=train_predictions_path, 
                                 spectrum_folder=svd_predictions_path, results_path=metrics_path),
)