import numpy as np

from dpipe.split import train_val_test_split


random_state_split = np.random.RandomState(0xBadCafe)
n_experiments = n_splits = 2
val_size = 0

in_distribution_fold = 1

in_distr_ids = list(dataset.df['fold'][dataset.df['fold'] == in_distribution_fold].index)

split_init = train_val_test_split( ids=in_distr_ids, n_splits=n_splits, val_size=val_size,
                              random_state=random_state_split)[:n_experiments]

ood_ids = list(dataset.df['fold'][dataset.df['fold'] != in_distribution_fold].index)

split = [[exp_split[0], exp_split[1], exp_split[2] + ood_ids] for exp_split in split_init]