from dpipe.split import train_val_test_split

n_experiments = n_splits = 3
val_size = 0

in_distribution_fold = 1

in_distr_ids = list(dataset.df['fold'][dataset.df['fold'] == in_distribution_fold].index)

split = train_val_test_split( ids=in_distr_ids, n_splits=n_splits, val_size=val_size,
                              random_state=random_state)[:n_experiments]

ood_ids = list(dataset.df['fold'][dataset.df['fold'] != in_distribution_fold].index)