from dpipe.split import stratified_train_val_test_split


random_state_split = np.random.RandomState(0xBadCafe)
n_splits = 5
val_size = 5
n_experiments = 1

split = stratified_train_val_test_split(ids=dataset.ids, labels=[dataset.get_covid_degree(uid) for uid in dataset.ids],
                                        n_splits=n_splits, val_size=val_size,
                                        random_state=random_state_split)[:n_experiments]