from dpipe.split import stratified_train_val_test_split


n_splits = 3
n_experiments = 1
val_size = 5

split = stratified_train_val_test_split(dataset.df.index.tolist(), dataset.df.fold.tolist(),
                                        val_size=val_size, n_splits=n_splits, random_state=seed)[:n_experiments]
