import os

from ood.metric.metric import evaluate_individual_metrics_with_froc_no_pred_with_crops


evaluate_individual_metrics = partial(
    evaluate_individual_metrics_with_froc_no_pred_with_crops,
    load_y=load_y,
    load_x=load_x,
    predict=predict,
    predict_logit=predict_logit,
    metrics=final_metrics,
    test_ids=test_ids,
    spatial_boxes_path=spatial_boxes_path,
    n_repeats=n_repeats,
    save_predictions=True,
    predictions_path=test_predictions_path,
)

run_experiment = run(
    fix_seed(seed=seed),
    lock_dir(),
    save_spatial_boxes(),
    architecture.to(device),
    if_missing(lambda p: [train_model, save_model_state(architecture, p)], saved_model_path),
    load_model_state(architecture, saved_model_path),
    if_missing(predict_logits_to_dir, output_path=logit_predictions_path),
    if_missing(predict_to_dir, output_path=test_predictions_path),
    if_missing(evaluate_individual_metrics, results_path='test_metrics'),
)