from functools import partial

from dpipe.im.metrics import dice_score
from ood.utils import get_pred
from ood.metric import aggregate_metric_probably_with_ids


dice_metric = lambda x, y: dice_score(get_pred(x), get_pred(y))

def sum_metric(x, y):
    return (get_pred(x) > 0.9).sum()# / (get_pred(x) >= 0).sum()

val_metrics = {'dice_score': partial(aggregate_metric_probably_with_ids, metric=dice_metric)}#,
#                'sum_score': partial(aggregate_metric_probably_with_ids, metric=sum_metric)}

final_metrics = {'dice_score': dice_metric}#, 'sum_score': sum_metric}
