from functools import partial

from sklearn.metrics import roc_auc_score

from dpipe.im.metrics import dice_score
from ood.utils import get_pred, sdice
from ood.metric.metric import aggregate_metric_probably_with_ids, froc_records
from ood.metric.ood_metric import detection_accuracy, tnr_at_95_tpr


sdice_tolerance = 1

sdice_metric = lambda x, y, i: sdice(get_pred(x), get_pred(y), dataset.load_spacing(i), sdice_tolerance)
dice_metric = lambda x, y: dice_score(get_pred(x), get_pred(y))
froc_metric_from_id = lambda x, y, y_logit: froc_records(get_pred(x), get_pred(y), y_logit)

val_metrics = {'dice_score': partial(aggregate_metric_probably_with_ids, metric=dice_metric),
               'sdice_score': partial(aggregate_metric_probably_with_ids, metric=sdice_metric)}

final_metrics = {'dice_score': dice_metric, 'sdice_score': sdice_metric, 'froc_records': froc_metric_from_id}

final_metrics_ood = {'detection_accuracy': detection_accuracy, 'roc_auc': roc_auc_score, 'tnr_at_95_tpr': tnr_at_95_tpr}