from functools import partial

import numpy as np

from ood.batch_iter.crop_utils import get_spatial_boxes


random_state_crops = np.random.RandomState(0xBadCafe)
spatial_boxes_path = 'spatial_boxes.json'
crop_high_eps = 50
n_repeats = 5

# saves spatial boxes to results.path
save_spatial_boxes = partial(get_spatial_boxes, test_ids=test_ids, n_repeats=n_repeats, x_patch_size=x_patch_size,
                             pred_patch_stride=pred_patch_stride, load_x=load_x, random_state=random_state_crops, 
                             high_eps=crop_high_eps, results_path=spatial_boxes_path)