from functools import partial

import numpy as np

from dpipe.batch_iter import Infinite, load_by_random_id, multiply
from dpipe.im.utils import prepend_dims
from ood.batch_iter import extract_patch, center_choice_random, augm_pipeline_3d


p_augm = 0
random_state = np.random.RandomState(seed)

crop_shape = 0.8 * x_patch_size
angle_limit = 5

batch_iter = Infinite(
    load_by_random_id(dataset.load_image, dataset.load_segm, ids=train_ids, random_state=random_state),
    multiply(func=np.float32),
    partial(center_choice_random, y_patch_size=y_patch_size, random_state=random_state),
    partial(extract_patch, x_patch_size=x_patch_size, y_patch_size=y_patch_size),
    partial(augm_pipeline_3d, shape=x_patch_size, crop_shape=crop_shape, angle_limit=angle_limit, p=p_augm,
            random_state=random_state),
    multiply(func=prepend_dims),

    batch_size=batch_size, batches_per_epoch=batches_per_epoch
)
