from functools import partial

from ood.metric.metric import evaluate_individual_metrics_probably_with_froc
from ood.utils import skip_predict


predict_to_dir = skip_predict
predict_logits_to_dir = skip_predict

evaluate_individual_metrics = partial(
    evaluate_individual_metrics_probably_with_froc,
    load_y=load_y,
    load_x=load_x,
    predict=predict,
    metrics=final_metrics,
    test_ids=test_ids,
)