from ood.metric.metric import evaluate_individual_metrics_with_froc_no_pred_no_target


# n_tumors = None # if there is no target, there is no number of tumors

evaluate_individual_metrics = partial(
    evaluate_individual_metrics_with_froc_no_pred_no_target,
    load_x=load_x,
    predict=predict,
    predict_logit=predict_logit,
    metrics=final_metrics,
    test_ids=test_ids,
)
